@import "~materialize-css/dist/css/materialize.min.css"; /*подключаем стили из materialize-css*/


/*Auth and registration*/
.auth__button {
  width: 100%;
}

.auth__createLink {
  padding-top: 1.5rem;
}

.auth__createLink_a {
  color: orange;
  transition: ease-out .2s;
}
.auth__createLink_a:hover {
  color: #ff4810;
}


.input-field input {
  color: white;
}

/* label focus color */
.orange-input {
  border-bottom: #fff !important;
  box-shadow: 0 1px 0 0 #fff !important;
}

.orange-input + label {
  color: #ffffff !important;
}

.orange-input:focus + label {
  color: orange !important;
}

.orange-input:focus {
  border-bottom: orange !important;
  box-shadow: 0 1px 0 0 orange !important;
}

